/* --- FOOTER --- */
.footer_container {
  height: var(--footerHeight_S);
  width: 100%;
  background-color: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer_wrapper {
  height: calc(var(--footerHeight_S) - 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer_container .copyright {
  color: var(--mainFontColor);
  font-weight: bold;
  display: inline-block;
}

.links li {
  display: inline-block;
  color: var(--mainFontColor);
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0 0.3rem;
  cursor: pointer;
}
.links li:hover {
  color: #4caf50;
}

.follow_us li {
  display: inline-block;
  margin: 0 0.8rem;
  cursor: pointer;
}

.social_media {
  display: inline-block;
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  background-size: cover;
}
.twitter {
  background-image: url("../img/iconmonstr-twitter-1-32.png");
}
.twitter:hover {
  background-image: url("../img/iconmonstr-twitter-1-32-2.png");
}
.facebook {
  background-image: url("../img/iconmonstr-facebook-1-32.png");
}
.facebook:hover {
  background-image: url("../img/iconmonstr-facebook-1-32-2.png");
}
.pinterest {
  background-image: url("../img/iconmonstr-pinterest-3-32.png");
}
.pinterest:hover {
  background-image: url("../img/iconmonstr-pinterest-3-32-2.png");
}
.snapchat {
  background-image: url("../img/iconmonstr-snapchat-3-32.png");
}
.snapchat:hover {
  background-image: url("../img/iconmonstr-snapchat-3-32-2.png");
}
.instagram {
  background-image: url("../img/iconmonstr-instagram-13-32.png");
}
.instagram:hover {
  background-image: url("../img/iconmonstr-instagram-13-32-2.png");
}

.disclaimer p {
  color: var(--mainFontColor);
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding: 0 0.5rem;
}
