/* --- GENERAL --- */
:root {
  --vw: 100vh;
  --vh: 100vw;

  /* --- FONTCOLORS --- */
  --mainFontColor: #fff;
  --secondFontColor: #151515;
  --thirdFontColor: #4caf50;
  --fourthFontColor: #9b9c9b;

  /* --- BACKGROUNDCOLORS --- */
  --mainBgColor: #151515;
  --secondBgColor: #fff;
  --thirdBgColor: #4caf50;
  --fourthBgColor: #b3b3b3;

  /* --- NAV/FOOTER --- */
  --headerNavColor: #22262a;
  --headerHeight_S: 3rem;
  --headerHeight_M: 4rem;
  --footerHeight_S: 220px;

  --links: 6;

  /* --- BORDERCOLORS --- */
  --borderColor: #32373d;

  /* --- GENERALBUTTONCOLORS --- */
  --buttonColor: #4caf50;
  --btnHoverColor: #67b669;
  --btnDisableColor: #b3b3b3;

  /* --- HOME ---*/
  --jumboImgHeight_S: 140px;
  --jumboImgHeight_M: 190px;
  --jumboImgHeight_L: 240px;

  /* --- OVERVIEW ---*/
  --slideColor: #4caf50;

  /* --- PERSONALITY ---*/
  /* ---nothing extra */

  /* --- TEST --- */
  --progressSectionColor: #151515;
  --progressColor: #fff;
  --progressBarColor: #4caf50;
  --progressNumberColor: #fff;
  --secondProgressSectionColor: #e0e2e2;
  --secondProgressColor: #989999;
  --secondProgressNumberColor: #a5a6a8;
  --secondButtonColor: #5f394d;
  --btnWarningColor: #dc3545;
  --btnWarningBgColor: rgb(247, 215, 215);

  /* --- TESTRESULT --- */
  --testResultColor: #f0ecec;

  /* --- CONTACT --- */
  --contactError: #dc143c;
  --contactBgSuccess: #3385ff;
  --contactFontSuccess: #fff;
  --shadowColor: rgb(235, 232, 232);
}
.resize_animation_stopper * {
  animation: none !important;
  transition: none !important;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Lato", "Helvetica Neue", "Arial", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
