/* --- INDEXBANNER --- */
#home_banner_container {
  width: 100%;
  height: calc(100vh - var(--headerHeight_S));
  margin-top: var(--headerHeight_S);
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
homebanner-component {
  width: 100%;
  height: inherit;
}
/* ---DESCRITPION --- */
#home_banner {
  height: calc(100vh - var(--headerHeight_S) - var(--jumboImgHeight_S));
  display: flex;
  justify-content: center;
  align-items: center;
}
#home_banner_desc {
  position: relative;
  text-align: center;
}
#home_banner_desc > h1 {
  color: #151515;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1.3rem;
}
#home_banner_desc > h2 {
  color: #151515;
  font-size: 0.9rem;
  line-height: 1.2rem;
  padding: 0 1rem;
}
.button {
  text-decoration: none;
  border: 2px solid #151515;
  background-color: #fff;
  border-radius: 25px;
  color: #151515;
  padding: 10px 25px;
  font-size: 1.2rem;
  display: inline-block;
  font-weight: bolder;
  margin-top: 1.3rem;
}
.button:hover {
  background-color: #151515;
  color: #fff;
}

#home_banner_img {
  width: 100%;
  height: var(--jumboImgHeight_S);
  position: relative;
}
#home_banner_img img {
  width: 100%;
  height: var(--jumboImgHeight_S);
  object-fit: cover;
  object-position: 50% 0;
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
  #home_banner_desc > h1 {
    font-size: 2.8rem;
  }
  #home_banner_desc > h2 {
    font-size: 1.1rem;
    line-height: 1.3rem;
    padding: 1.2rem;
  }
  .button {
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 992px) and (orientation: portrait) {
  #home_banner_container {
    height: auto;
    margin-top: var(--headerHeight_M);
  }

  #home_banner {
    height: calc(
      (100vh - var(--footerHeight_S) - var(--jumboImgHeight_M)) - var(--headerHeight_M)
    );
  }

  #home_banner_img {
    height: var(--jumboImgHeight_M);
  }
  #home_banner_img img {
    height: var(--jumboImgHeight_M);
  }
}

@media only screen and (min-width: 1600px) and (orientation: portrait) {
  #home_banner_container {
    height: auto;
    margin-top: var(--headerHeight_M);
  }
  #home_banner {
    height: calc(
      (100vh - var(--footerHeight_S) - var(--jumboImgHeight_L)) - var(--headerHeight_M)
    );
  }

  #home_banner_desc > h1 {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
  }
  #home_banner_desc > h2 {
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: 0 1rem;
  }
  .button {
    margin-top: 1.8rem;
  }

  #home_banner_img {
    height: var(--jumboImgHeight_L);
  }

  #home_banner_img img {
    height: var(--jumboImgHeight_L);
  }
}

@media only screen and (min-width: 568px) and (orientation: landscape) {
  #home_banner_container {
    height: calc(100vh - var(--headerHeight_S) + var(--jumboImgHeight_S));
  }

  #home_banner {
    height: calc(100vh - var(--headerHeight_S));
  }
}

@media only screen and (min-width: 992px) and (orientation: landscape) {
  #home_banner_container {
    height: auto;
    margin-top: var(--headerHeight_M);
  }

  #home_banner {
    height: calc((100vh - var(--jumboImgHeight_M)) - var(--headerHeight_M));
  }

  #home_banner_desc > h1 {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
  }
  #home_banner_desc > h2 {
    font-size: 0.9rem;
    line-height: 1.2rem;
    padding: 0 1rem;
  }
  .button {
    margin-top: 1.8rem;
  }

  #home_banner_img {
    height: var(--jumboImgHeight_M);
  }

  #home_banner_img img {
    height: var(--jumboImgHeight_M);
  }
}

@media only screen and (min-width: 1600px) and (orientation: landscape) {
  #home_banner_container {
    height: auto;
    margin-top: var(--headerHeight_M);
  }
  #home_banner {
    height: calc((100vh - var(--jumboImgHeight_L)) - var(--headerHeight_M));
  }
  #home_banner_desc > h1 {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
  }
  #home_banner_desc > h2 {
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: 0 1rem;
  }
  .button {
    margin-top: 1.8rem;
  }
  #home_banner_img {
    height: var(--jumboImgHeight_L);
  }

  #home_banner_img img {
    height: var(--jumboImgHeight_L);
  }
}
