#navigation_container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1200;
  transition: transform 0.125s 0.1s ease-in-out;
}
body.hide #navigation_container {
  transform: translate(0, -100px);
}

#navigation_content {
  position: relative;
  top: 0;
  z-index: initial;
  width: 100%;
  height: var(--headerHeight_S);
  background-color: var(--headerNavColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  color: var(--mainFontColor);
  font-size: 1.5rem;
  font-family: "Bangers";
  letter-spacing: 0.15rem;
  margin-left: 1rem;
}

#nav_links {
  width: 100vw;
  height: calc(100vh - var(--headerHeight_S));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--headerNavColor);
  position: absolute;
  top: calc((100vh - var(--headerHeight_S)) * -1);
  z-index: -1;
  transition: transform 0.5s 0.1s ease-in-out;
}
#nav_links.show {
  transform: translate(0, 100vh);
}
list-item {
  height: calc((100vh - var(--headerHeight_S)) / 5);
  width: 100%;
  border-top: 2px solid var(--borderColor);
}

#nav_links li {
  height: inherit;
  width: 100%;
  color: var(--mainFontColor);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
#nav_links li:first-child {
  border-top: none;
}
#nav_links li:hover {
  margin-bottom: 0;
  height: inherit;
  background-color: var(--thirdBgColor);
  cursor: pointer;
}
#nav_links a {
  color: var(--mainFontColor);
  text-decoration: none;
  font-size: 1.2rem;
}

@media only screen and (min-width: 992px) {
  #navigation_content {
    height: var(--headerHeight_M);
    justify-content: space-between;
  }

  #nav_links {
    width: 600px;
    height: var(--headerHeight_M);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 0;
    transition: none;
    z-index: 1100;
    margin-right: 2rem;
    border: 2px solid crimson;
  }
  list-item {
    height: inherit;
    width: auto;
    border-top: none;
  }
  #nav_links li {
    height: 100%;
    width: auto;
    border: none;
    padding: 0 1rem;
  }
  #nav_links li:last-child {
    margin: 0;
  }
  #nav_links li:hover {
    height: 100%;
  }
  #nav_links a {
    font-size: 1rem;
  }
}
