/* --- TESTBANNER --- */
#test_banner_container {
  width: 100%;
  height: 100vh;
  background-color: var(--mainBgColor);
  position: relative;
  z-index: 90;
}

#test_banner {
  width: 100%;
  height: inherit;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
#test_banner_img {
  width: 100%;
  height: calc(100vh - var(--headerHeight_S));
  position: absolute;
  top: 0px;
  z-index: 110;
  background-image: url(../img/banner_test.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#test_banner_img::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: var(--mainBgColor);
  opacity: 0.5;
}
#test_banner_desc {
  position: relative;
  z-index: 120;
}
#test_banner_desc > h1 {
  color: var(--mainFontColor);
  font-weight: bold;
  font-size: 2.4rem;
  padding: 0.28rem;
  text-align: center;
}

#test_banner_desc > h2 {
  color: var(--mainFontColor);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.28rem;
  text-align: center;
}

/* --- TESTPROGRESS --- */
#content_container {
  padding: 2rem 0;
}
#test_header {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 80;
}
#progress_section {
  width: 100%;
  height: 48px;
  background-color: var(--progressSectionColor);
  margin: 1.5rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#progress_number {
  display: inline-block;
  width: 3%;
  margin-right: 2.1rem;
  height: 20px;
  color: var(--progressNumberColor);
  font-size: 1.2rem;
}
#progress {
  width: 60%;
  height: 6px;
  border-radius: 0.3rem;
  background-color: var(--progressColor);
}
#progress_bar {
  width: 0%;
  height: 6px;
  border-radius: 0.3rem;
  background-color: var(--progressBarColor);
  transition: all 1s ease-in-out;
}
/* --- TEST --- */
#page {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
fieldset {
  width: 95%;
  margin: 0 auto;
  margin-top: 2rem;
  display: block;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid var(--fourthFontColor);
}
legend {
  color: var(--thirdFontColor);
  font-size: 1.4rem;
  font-weight: bold;
}

fieldset div p {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

fieldset div p label {
  width: 100%;
  color: var(--fourthFontColor);
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
fieldset div p label span:last-child {
  height: 100%;
  width: 85%;
  font-size: 1.1rem;
  color: var(--fourthFontColor);
  display: inline-block;
  padding-left: 0.5rem;
}
.custom_radio {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  background-color: #e0e2e2;
}
label:hover {
  cursor: pointer;
}

/* label:hover input ~ .custom_radio {
  background-color: #9b9c9b;
}
 */
label input:checked ~ .custom_radio {
  background-color: var(--thirdBgColor);
}
label input {
  display: none;
  position: relative;
  left: -3000px;
}
.error {
  background-color: #fff;
  border: 2px solid var(--btnWarningColor);
}
.err_message {
  width: 95%;
  height: 40px;
  margin: 1rem auto;
  background-color: var(--btnWarningColor);
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  opacity: 0;
  transition: all 1s ease-in-out;
  /*  display: none; */
}
.error_message_active {
  opacity: 1;
}
#btn_next {
  margin: 0 auto;
  height: 50px;
  width: 200px;
  font-size: 1.2rem;
  border-radius: 1rem;
  background-color: var(--buttonColor);
  color: var(--mainFontColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
#btn_next:hover {
  background-color: var(--btnHoverColor);
}
@media only screen and (min-width: 568px) and (orientation: portrait) {
  #content_container {
    min-height: calc(100vh - 370px);
  }
  fieldset {
    width: 75%;
  }
  #error_message {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
  #page {
    width: 85%;
    margin: 0 auto;
  }

  #test_banner_container {
    height: 370px;
  }

  #test_banner {
    height: 370px;
    position: relative;
    top: 0;
  }
  #test_banner_img {
    height: 320px;
  }

  #progress_section {
    margin-top: 0;
    height: 48px;
  }
  #test_header {
    position: relative;
    top: -48px;
    background-color: var(--secondBgColor);
    z-index: 130;
  }
  fieldset {
    width: 100%;
  }
  #error_message {
    width: 85%;
  }
  legend {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  fieldset div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  fieldset div p {
    width: 48%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
  }
  fieldset div p .label_a {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  fieldset div p .label_a span:last-child {
    margin-right: 0.5rem;
    text-align: right;
  }
}

@media only screen and (min-width: 992px) and (orientation: portrait) {
  #page {
    width: 75%;
    margin: 0 auto;
  }

  #progress_section {
    margin-top: 0;
    height: 48px;
  }
  #test_header {
    position: relative;
    top: -48px;
    background-color: var(--secondBgColor);
    z-index: 130;
  }

  #error_message {
    width: 75%;
  }
}

@media only screen and (min-width: 1200px) and (orientation: portrait) {
}
/*
@media only screen and (min-width: 1600px) and (orientation: portrait) {
  
}
@media only screen and (min-width: 1900px) and (orientation: portrait) {
  
} */
@media only screen and (min-width: 568px) and (orientation: landscape) {
  #content_container {
    min-height: calc(100vh - 370px);
  }
  fieldset {
    width: 75%;
  }
  #error_message {
    width: 75%;
  }
}
@media only screen and (min-width: 768px) and (orientation: landscape) {
  #page {
    width: 85%;
    margin: 0 auto;
  }
  fieldset {
    width: 100%;
  }
  #error_message {
    width: 85%;
  }
  legend {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  fieldset div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  fieldset div p {
    width: 48%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
  }
  fieldset div p .label_a {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  fieldset div p .label_a span:last-child {
    margin-right: 0.5rem;
    text-align: right;
  }
}
@media only screen and (min-width: 992px) and (orientation: landscape) {
  #page {
    width: 75%;
    margin: 0 auto;
  }
  #test_banner_container {
    height: 370px;
  }

  #test_banner {
    height: 370px;
    position: relative;
    top: 0;
  }
  #test_banner_img {
    height: 320px;
  }
  #progress_section {
    margin-top: 0;
    height: 48px;
  }
  #test_header {
    position: relative;
    top: -48px;
    background-color: var(--secondBgColor);
    z-index: 130;
  }

  fieldset {
    width: 100%;
  }
  #error_message {
    width: 75%;
  }
}
@media only screen and (min-width: 1200px) and (orientation: landscape) {
  legend {
    font-size: 1.6rem;
    font-weight: bold;
  }

  fieldset div p label {
    font-size: 1rem;
  }
  fieldset div p label span:last-child {
    font-size: 1.1rem;
  }
}
/* @media only screen and (min-width: 1600px) and (orientation: landscape) {
}
@media only screen and (min-width: 1900px) and (orientation: portrait) {
}
 */
