#personalities_banner_container {
  width: 100%;
  height: 456px;
  background-color: var(--mainBgColor);
  position: relative;
}

#personalities_banner {
  width: 100%;
  height: inherit;
  background-color: var(--mainBgColor);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#personalities_banner_img {
  width: 100%;
  height: 360px;
  position: absolute;
  top: 48px;
  background-image: url(./../img/banner_overview_s.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0.5s 1 forwards;
}
#personalities_banner_img::before {
  content: " ";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#personalities_banner_desc {
  position: relative;
}

#personalities_banner_desc > h1 {
  color: var(--mainFontColor);
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
}
#personalities_banner_desc > h2 {
  color: var(--mainFontColor);
  font-size: 1rem;
  margin: 0.5em auto;
  text-align: center;
}

/*--- PERSONALITIES/GALERIE ---*/
#personalities_content {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 2rem 0;
}
#personalities_header {
  width: 100%;
  margin: 0 auto;
}

#personalities_header h1 {
  color: var(--secondFontColor);
  width: 95%;
  font-weight: bold;
  margin: 0 auto 2rem auto;
  font-size: 1.5rem;
}

#personalities_gallery {
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: auto;
}
#gallery_wrapper {
  width: 100%;
}
#gallery_list {
  width: 95%;
  height: auto;
  list-style: none;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
personalitycard-component {
  width: 50%;
}
#gallery_list li {
  width: 100%;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.personalities_card {
  margin: 0.5rem;
  height: 300px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.personalities_card:hover .card_desc_slide::before {
  height: 100%;
}
.card_desc_slide::before {
  content: " ";
  width: 100%;
  height: 5%;
  display: block;
  position: absolute;
  transition: height 0.2s ease-in-out;
  background-color: var(--slideColor);
  z-index: 20;
}

.card_desc_slide {
  width: 100%;
  height: 140px;
  position: relative;
  top: 0%;
  background-color: var(--secondBgColor);
  z-index: 10;
}
.img_wrapper {
  height: 160px;
  overflow: hidden;
}
.img_wrapper::before {
  content: " ";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.img_wrapper img {
  transition: transform 0.7s ease-in-out;
  height: 160px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.personalities_card:hover img {
  transform: scale(1.2);
}
.card_text {
  position: relative;
  color: var(--secondFontColor);
  top: 20%;
  left: 8%;
  z-index: 30;
}
.card_text > h2 {
  text-align: left;
  font-weight: bold;
  font-size: 1.4rem;
}
.card_text > p {
  margin: 2rem 0;
  text-align: left;
}
.personalities_card:hover .card_text {
  color: var(--mainFontColor);
}

@media only screen and (min-width: 568px) and (orientation: portrait) {
  personalitycard-component {
    width: 25%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
  #personalities_content {
    min-height: calc(100vh - 388px);
  }
  .personalities_card {
    height: 350px;
  }

  .card_desc_slide {
    height: 175px;
  }
  .img_wrapper {
    height: 175px;
  }
  .img_wrapper img {
    height: 175px;
  }
}
@media only screen and (min-width: 992px) and (orientation: portrait) {
  #personalities_banner_container {
    height: 488px;
  }
  #personalities_banner_img {
    height: 360px;
    background-image: url(./../img/banner_overview_l.jpg);
    top: 64px;
  }
  #personalities_banner_desc h1 {
    font-size: 2.4rem;
  }
  #personalities_header h1 {
    width: 850px;
  }
  #gallery_list {
    width: 850px;
  }
}
@media only screen and (min-width: 1200px) and (orientation: portrait) {
}
@media only screen and (min-width: 1600px) and (orientation: portrait) {
}
@media only screen and (min-width: 1900px) and (orientation: portrait) {
}
@media only screen and (min-width: 568px) and (orientation: landscape) {
  #personalities_banner_container {
    height: 456px;
  }
  #personalities_banner_img {
    height: 360px;
    background-image: url(./../img/banner_overview_l.jpg);
    top: 48px;
  }

  #galery_container {
    margin: calc(var(--headerHeight_S)) auto 0 auto;
  }

  personalitycard-component {
    width: 25%;
  }
  .personalities_card {
    height: 300px;
  }

  .card_desc_slide {
    height: 140px;
  }
  .img_wrapper {
    height: 160px;
  }

  .img_wrapper img {
    height: 160px;
  }
}
@media only screen and (min-width: 768px) and (orientation: landscape) {
  .personalities_card {
    height: 350px;
  }

  .card_desc_slide {
    height: 175px;
  }
  .img_wrapper {
    height: 175px;
  }
  .img_wrapper img {
    height: 175px;
  }
}
@media only screen and (min-width: 992px) and (orientation: landscape) {
  #personalities_banner_container {
    height: 488px;
  }
  #personalities_banner_img {
    height: 360px;
    background-image: url(./../img/banner_overview_l.jpg);
    top: 64px;
  }
  #personalities_banner_desc h1 {
    font-size: 2.4rem;
  }
  #personalities_content {
    margin: 0 auto;
  }
  #personalities_header h1 {
    width: 750px;
  }
  #gallery_list {
    width: 750px;
  }
}
@media only screen and (min-width: 1200px) and (orientation: landscape) {
  #personalities_header h1 {
    width: 1120px;
  }
  #gallery_list {
    width: 1120px;
    justify-content: flex-start;
  }

  personalitycard-component {
    width: 186px;
  }
}
@media only screen and (min-width: 1600px) and (orientation: landscape) {
  #personalities_header h1 {
    width: 1204px;
  }
  #gallery_list {
    width: 1204px;
    justify-content: flex-start;
  }

  personalitycard-component {
    width: 200px;
  }
}
@media only screen and (min-width: 1900px) and (orientation: landscape) {
}
