#result_container {
  width: 100%;
  height: auto;
}
#result_wrapper {
  width: 100%;
  margin: 2.4rem auto;
  padding: 0 0.75rem;
}
#result_content {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
resultproperties-component {
  width: 100%;
}
.result_row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--testResultColor);
  border-radius: 15px;
  margin-bottom: 40px;
  position: relative;
  z-index: 0;
}

.result_row > h1 {
  color: var(--thirdFontColor);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
}
.caption_desc {
  width: 100%;
  color: var(--fourthFontColor);
  font-size: 1.1rem;
  text-align: center;
  font-weight: normal;
  padding: 0.5rem;
}
.resultbar_container {
  width: 100%;
  height: 80px;
  color: var(--fourthFontColor);
  margin-bottom: 10px;
  padding: 0 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.percentage_text_left,
.percentage_text_right {
  flex: 1;
  text-align: center;
  font-weight: bold;
}
.percentage_num_left,
.percentage_num_right {
  color: var(--fourthFontColor);
  font-size: 1.1rem;
  line-height: 1.1rem;
}
.percentage_desc_left,
.percentage_desc_right {
  color: var(--fourthFontColor);
  font-size: 0.8rem;
  line-height: 0.8rem;
}
.percantage_container {
  flex: 3;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}
.percentage_left,
.percentage_right {
  height: 10px;
  background-color: var(--testResultColor);
}
.percentage_active {
  background-color: var(--thirdBgColor);
}
.text_active {
  color: var(--thirdFontColor);
}

.desc {
  background-color: var(--testResultColor);
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  z-index: 10;
  overflow: hidden;
  height: 0;
  width: 100%;
  transition: height 0.5s ease-in-out;
}
.desc.show {
  height: 150px;
}
.desc h1 {
  font-size: 1.1rem;
  color: var(--thirdFontColor);
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.desc p {
  color: var(--fourthBgColor);
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.2rem;
  padding: 0.5rem;
}
.desc_button {
  height: 20px;
  width: 40px;
  text-align: center;
  display: block;
  background-color: var(--testResultColor);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  cursor: pointer;
  position: relative;
  z-index: 20;
}
.desc_button:hover {
  background-color: var(--btnHoverColor);
}

@media only screen and (min-width: 568px) and (orientation: portrait) {
  #result_wrapper {
    width: 100%;
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
  #result_container {
    min-height: calc(100vh - 456px);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #result_wrapper {
    width: 80%;
    padding: 0;
  }
  .desc.show {
    height: 120px;
  }
}
@media only screen and (min-width: 992px) and (orientation: portrait) {
  #result_wrapper {
    width: 75%;
  }
  .desc.show {
    height: 120px;
  }
}
@media only screen and (min-width: 568px) and (orientation: landscape) {
  #result_wrapper {
    width: 100%;
    padding: 0 3rem;
  }
}
@media only screen and (min-width: 768px) and (orientation: landscape) {
  .desc.show {
    height: 110px;
  }
}
@media only screen and (min-width: 992px) and (orientation: landscape) {
  #result_wrapper {
    width: 70%;
    padding: 0;
  }
}
@media only screen and (min-width: 1600px) and (orientation: landscape) {
  #result_wrapper {
    min-height: calc(100vh - 488px);
    margin: 0 auto;
    padding: 3rem 0;
  }
}
